{% extends 'base.html' %}

<body>

{% block content %}

<!-- Content -->
<div class="w3-content " style="max-width:1100px;margin-top:120px;margin-bottom:80px">


    <div class="w3-container w3-padding w3-card ">
        <h2 class="w3-xxlarge titleTV"> {{ actor.name }} <span style="font-size: 15px; float: right; display: inline-block"></span> </h2>
    </div>

    <div class="w3-row w3-padding-64">
        <div class="w3-third w3-container">
          <p class="w3-border w3-padding-large w3-padding-32 w3-center"</p>
            <img src="https://image.tmdb.org/t/p/w500{{actor.profile_path}}" alt= "Pas d'image disponible" style="width:100%">
        </div>
        <div class="w3-twothird w3-container">
            <h1 class="w3-xlarge">Biography</h1>
            <p>{{actor.biography}}</p>
            <p> <h2 class="w3-large">Birthday : </h2>{{actor.birthday}}</p>
            <h1 class="w3-xlarge">TV-Credits</h1>
            {% for item in tv_credits %}
            <li>
                <a href="{% url 'LikeSeries:TVShow_page' item.id %}">{{item.name}}</a>
            </li>
            {% endfor %}
        </div>
    </div>

{% endblock %}
</div>