{% extends 'base.html' %}

{% block content %}


#Afficher les résultats de la requête:

<h1>{{ question.question_text }}</h1>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.likes }} like{{ choice.likes|pluralize }}</li>
{% endfor %}
</ul>



<head>
    <script type="text/javascript" src="jquery-latest.js"></script>
    <script type="text/javascript" src="jquery.tablesorter.js"></script>
</head>

<!--Hey Constance, j'ai supprimé <a href={pourcentage url 'LikeSeries:detail' question.id %}">Like another TV Serie?</a> -->


</div>


<div id="section">
    <h1>The Search Result for: {{ search_string }} </h1>
    <table id="myTable" style="width:150%" class="tablesorter">
    <thead>
    <tr>
        <th>Titre de la série</th>
        <th>Réalisateur</th>
        <th>Genre</th>
        <th>Langage</th>
        <th>Note</th>
     </tr>
    </thead>
    <tbody>
     {% for movie_dict in movie_listing %}
        <tr>
            <td align="center" width="40">{{ TVShow_dict.TVShow_object.title}}</td>
            <td align="center" width="15">{{ TVShow_dict.TVShow_object.director}}</td>
            <td align="center" width="10">{{ TVShow_dict.TVShow_object.genre}}</td>
        <td align="center" width="12">{{ TVShow_dict.TVShow_object.language}}</td>
        </tr>

     {% endfor %}
    </tbody>
    </table>

</div>

<div id="footer">

</div>

{% endblock %}